@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1C1C1C;
  color: #E0E0E0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cabecalho__menu {
  background-color: #2C3E50;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.cabecalho__menu__link {
  color: #FAFAFA;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease;
}

.cabecalho__menu__link:hover {
  color: #B22222;
}

.apresentacao {
  flex: 1;
  padding: 40px 20px;
  text-align: center;
}

.apresentacao__titulo {
  font-family: 'Krona One', sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
  color: #FAFAFA;
}

.apresentacao__texto {
  font-size: 24px;
  color: #E0E0E0;
}

.apresentacao__imagem {
  position: relative; 
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  text-align: center;
}

.apresentacao__imagem img {
  width: 50%;
  max-width: 95%;
  height: 70%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(55, 91, 102, 0.993);
}



.rodape {
  background-color: #2C3E50;
  color: #FAFAFA;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-top: auto;
}

.apresentacao__lista__requisitos {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    padding: 20px 0;
    list-style-type: disc;
    color: #E0E0E0;
}

.cadastro__link {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  color: #B22222;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.cadastro__link:hover {
  color: #FAFAFA;
}

.formulario__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1C1C1C;
  font-family: 'Montserrat', sans-serif;
  color: #FAFAFA;
}


.formulario-cadastro {
  
  background-color: #2C3E50;
  padding: 40px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.formulario-cadastro h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  color: #FAFAFA;
}

.cadastro__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cadastro__form label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.cadastro__form input[type="text"],
.cadastro__form input[type="tel"] {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #FAFAFA;
  color: #2C3E50;
}

.termos {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.termos a {
  color: #B22222;
  text-decoration: underline;
}

button[type="submit"] {
  background-color: #B22222;
  color: #FAFAFA;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #8B1A1A;
}

.apresentacao__lista__contatos {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    padding: 20px 0;
    list-style-type: none;
    color: #E0E0E0;
}

.produtos__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 10px;
  padding: 40px 20px;
  width: 100%;
}

.produtos__container__item {
  background-color: #2C3E50;
  color: #FAFAFA;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.produtos__container__item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin-bottom: 10px;
}

.produtos__container__item p.descricao {
  font-size: 16px;
  margin-bottom: 10px;
}

.produtos__container__item span.preco {
  font-weight: bold;
  font-size: 18px;
  color: #ff0000;
}

.produtos__container__item:hover {
  transform: scale(1.03);
}

.botao-comprar {
  background-color: #B22222;
  color: #FAFAFA;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-comprar:hover {
  background-color: #8B1A1A;
}
