@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1C1C1C; 
    color: #E0E0E0; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho__menu {
    background-color: #2C3E50; 
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.cabecalho__menu__link {
    color: #FAFAFA;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s ease;
}

.cabecalho__menu__link:hover {
    color: #B22222; 
}

.apresentacao {
    flex: 1;
    padding: 40px 20px;
    text-align: center;
}

.apresentacao__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
    color: #FAFAFA;
}

.apresentacao__texto {
    font-size: 24px;
    color: #E0E0E0;
}

.rodape {
    background-color: #2C3E50;
    color: #FAFAFA;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}


.apresentacao__lista__requisitos {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    padding: 20px 0;
    list-style-type: disc;
    color: #E0E0E0;
}

.cadastro__link {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  color: #B22222;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.cadastro__link:hover {
  color: #FAFAFA;
}

.apresentacao__lista__contatos {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    padding: 20px 0;
    list-style-type: none;
    color: #E0E0E0;
}

.produtos__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
}

.produtos__container__item {
  background-color: #2C3E50;
  color: #FAFAFA;
  width: 45%;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}

.produtos__container__item__imagem {
  width: 10%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.produtos__container__item__descricao {
  font-size: 16px;
  margin-bottom: 10px;
}

.produtos__container__item span {
  font-weight: bold;
  font-size: 18px;
  color: #B22222;
}

.produtos__container__item:hover {
  transform: scale(1.03);
}
